@import url('https://fonts.cdnfonts.com/css/metropolis-2');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: #0c5eaa;
    width: 360px; 
    height: 450px; 
    font-family: Metropolis;
    color: white; 
}

.container {
    display: flex; 
    justify-content: center; 
    flex-direction: column;
}



.logo-clock{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    padding: 10px;
    margin-bottom: 50px; 
    font-size: 28px;
    color: white;
    font-weight: 600;

}
.logo-clock img{
    width: 60%;
}

.weather{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.weather-image{
    display: flex; 
    justify-content: center;
    margin: 20px auto;
}

.weather-image img{
    width: 30%;
}

.temperature {
    display: flex; 
    justify-content: center;
    font-size: 48px;
    font-weight: 600; 
    color: white; 
    margin-bottom: 20px; 
}

.data-container{
    display:flex; 
    justify-content: space-around;

}

.data-container img{
    width: 40px;
}

.element{
 display: flex; 
 justify-content: space-between;
 align-items:center;
 flex-direction: row;
 gap:10px; 
}